body {
    background-color: #ffbf86;
    font-family: 'Roboto', sans-serif;
}
.container {
    text-align: center;
}
.container h1 {
    color: white;
    font-size: 3rem;
}
form {
    margin: 0 auto;
    width: 600px;
}
input {
    background-color: #f3f0d7;
    border: none;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}
input:focus {
    background-color: #ffbf86;
}
button {
    margin-top: 20px;
    background-color: #f3f0d7;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 50px;
    transition-duration: 1s;
}
button:hover {
    background-color: #ffbf86;
    border: 2px solid white;
}
a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #636463;
}
.repeatPswrd {
    margin-top: 0px;
}
p {
    font-size: 0.7rem;
}
